section{
  width: 100%;
  // border: solid gray 2px;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  div{
    width: 90%;
    height: 100%;
    // border: solid rgb(14, 110, 235) 1px;
    border-radius: 0.5rem;
  }
}
