<section>
  <div class="div-container">
    <p-table #dt2 [scrollable]="true" scrollHeight="400px" [value]="data" dataKey="id" editMode="row"
      sortMode="multiple" [tableStyle]="{'min-width': '60rem'}" [paginator]=" true" [rows]="10"
      [showCurrentPageReport]="true" [tableStyle]="{'min-width': '50rem'}"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="rowsPerPageOptions" [globalFilterFields]="values">
      <!-- /Search -->
      <ng-template pTemplate="caption">
        <div class="flex">
          <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="onInputFilter($event)" placeholder="Search keyword" />
          </span>
        </div>
      </ng-template>
      <!--  -->
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let zip of generatedFieldValues()" [pSortableColumn]="zip.value">{{ zip.field }} <p-sortIcon
              [field]="zip.value"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-obj pTemplate="body" let-product let-editing="editing" let-ri="rowIndex">
        <tr class="tr-values">
          <td class="td" *ngFor="let value of values" [pSortableColumn]="value">
            {{ obj[value] }}
          </td>
          <span class="container-btn" *ngIf="valid">
            <button (click)="modal(true)" pButton label="Sell"></button>
            <p-confirmPopup></p-confirmPopup>
            <button (click)="confirm($event, obj, 'Upgrade')" pButton icon="pi pi-undo" label="Update"></button>
            <p-confirmPopup></p-confirmPopup>
            <button (click)="confirm($event, obj, 'Remove')" pButton icon="pi pi-trash" label="Delete"></button>
          </span>
          <section class="modal" *ngIf="modalVisible">
            <article>
              <div class="content-modal">
                <h2>Product Quantity</h2>
                <p>Name: {{obj.name}}</p>
                <p>Unit price: {{obj.unitValue}}</p>
                <p>Total price: {{calculatePrice(obj)}}</p>
              </div>
              <div class="input-modal">
                <i class="pi pi-pencil"></i>
                <input type="number" [(ngModel)]="unitTotal">
              </div>
              <span>
                <p-confirmPopup></p-confirmPopup>
                <button pButton icon="pi pi-times" label="Cancel" (click)="modal(false)"></button>
                <button pButton icon="pi pi-check" label="Ok" (click)="sellMedicine($event, obj, false)"></button>
              </span>
            </article>
          </section>
        </tr>
      </ng-template>
    </p-table>
  </div>
</section>
